n8n/planningping_scraper.json
{
  "name": "PlanningPing — Weekly Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Every Monday 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "notes": "Runs every Monday at 6am UTC."
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://vinwnykuumifpctdjxbu.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpbndueWt1dW1pZnBjdGRqeGJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDUxOTkxNCwiZXhwIjoyMDk2MDk1OTE0fQ.VgU4FW_bhiJdSIgN5n-hV0Urg2P46Ohkgs2wQH7pY1c';\n\nconst headers = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY\n};\n\n// 1. Fetch all active tracked areas\nconst areas = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/tracked_areas',\n  headers,\n  qs: {\n    select: 'council_slug'\n  }\n});\n\n// 2. Deduplicate council slugs\nconst seen = new Set();\nconst slugs = [];\nfor (const area of areas) {\n  if (area.council_slug && !seen.has(area.council_slug)) {\n    seen.add(area.council_slug);\n    slugs.push(area.council_slug);\n  }\n}\nif (slugs.length === 0) return [];\n\n// 3. Fetch council details for all slugs in one query\nconst councils = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/rest/v1/councils',\n  headers,\n  qs: {\n    slug: 'in.(' + slugs.join(',') + ')',\n    select: 'slug,name,portal_url,portal_type'\n  }\n});\nif (councils.length === 0) return [];\n\n// 4. Calculate date range — last 7 days in DD/MM/YYYY\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nfunction fmt(d) {\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  return dd + '/' + mm + '/' + d.getFullYear();\n}\nconst dateFrom = fmt(weekAgo);\nconst dateTo = fmt(now);\n\n// 5. Return one item per supported council\nreturn councils.map(function(c) {\n  return {\n    json: {\n      council_slug: c.slug,\n      council_name: c.name,\n      portal_url:   c.portal_url,\n      portal_type:  c.portal_type || 'idox_search_do',\n      date_from:    dateFrom,\n      date_to:      dateTo\n    }\n  };\n});"
      },
      "id": "fetch-and-prepare",
      "name": "Fetch Areas & Build Council List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "notes": "Calls Supabase directly via fetch(). Gets active tracked areas, deduplicates council slugs, fetches portal details, calculates date range. Returns one item per supported council."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.portal_type }}",
              "operation": "equals",
              "value2": "idox_servlet"
            }
          ]
        }
      },
      "id": "if-servlet",
      "name": "Servlet Portal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "notes": "True = old servlet portal (POST to servlet URL). False = newer search.do portal (POST to search.do)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.portal_url }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ReceivedDateFrom",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "ReceivedDateTo",
              "value": "={{ $json.date_to }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "scrape-servlet",
      "name": "Scrape: POST Servlet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -150
      ],
      "notes": "POSTs a date-range search to the servlet portal. No address filter — returns all applications for the council in the period."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.portal_url }}/search.do",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "advanced"
            },
            {
              "name": "searchType",
              "value": "Application"
            },
            {
              "name": "dateType",
              "value": "DC_Received"
            },
            {
              "name": "dateFrom",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "dateTo",
              "value": "={{ $json.date_to }}"
            },
            {
              "name": "_csrf",
              "value": ""
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "scrape-searchdo",
      "name": "Scrape: POST Search.do",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        150
      ],
      "notes": "GETs the standard Idox search.do endpoint. Used by most modern councils."
    },
    {
      "parameters": {
        "jsCode": "const html    = $input.first().json.data;\nconst context = $input.first().json;\n\nif (!html || typeof html !== 'string') {\n  return [{ json: { applications: [], council_slug: $('Fetch Areas & Build Council List').first().json.council_slug, parse_error: 'No HTML received' } }];\n}\n\nfunction stripTags(h) {\n  return h\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, function(_, n) { return String.fromCharCode(Number(n)); })\n    .replace(/<[^>]+>/g, '');\n}\n\nfunction parseAddress(cellHtml) {\n  return stripTags(cellHtml)\n    .split(/[\\n,]+/)\n    .map(function(s) { return s.trim(); })\n    .filter(function(s) { return s.length > 0; })\n    .join(', ');\n}\n\nfunction parseDate(cellHtml) {\n  const text = stripTags(cellHtml).trim();\n  const m = text.match(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\n  return m ? (m[3] + '-' + m[2] + '-' + m[1]) : null;\n}\n\nif (/your query did not return any results/i.test(html)) {\n  return [{ json: { applications: [], council_slug: $('Fetch Areas & Build Council List').first().json.council_slug, scraped_count: 0 } }];\n}\n\nconst tableStart = html.indexOf('<th><strong>Application number');\nif (tableStart === -1) {\n  return [{ json: { applications: [], council_slug: $('Fetch Areas & Build Council List').first().json.council_slug, parse_error: 'Results table not found' } }];\n}\n\nconst tableOpenPos = html.lastIndexOf('<table', tableStart);\nconst tableEndPos  = html.indexOf('</table>', tableStart);\nif (tableOpenPos === -1 || tableEndPos === -1) {\n  return [{ json: { applications: [], council_slug: $('Fetch Areas & Build Council List').first().json.council_slug, parse_error: 'Table boundaries not found' } }];\n}\n\nconst tableHtml  = html.slice(tableOpenPos, tableEndPos + 8);\nconst rowChunks  = tableHtml.split(/<tr[^>]*>/i).slice(1);\nconst applications = [];\n\nfor (var i = 0; i < rowChunks.length; i++) {\n  const chunk = rowChunks[i];\n  if (/<th/i.test(chunk) || chunk.indexOf('PKID=') === -1) continue;\n  const cellChunks = chunk.split(/<td[^>]*>/i).slice(1);\n  if (cellChunks.length < 6) continue;\n  const cells    = cellChunks.map(function(c) { return c.replace(/<\\/td>[\\s\\S]*/i, ''); });\n  const refMatch = /<a[^>]+href=\"([^\"]*PKID=[^\"]*)\"[^>]*>([^<]+)<\\/a>/i.exec(cells[0]);\n  if (!refMatch) continue;\n  applications.push({\n    reference:        refMatch[2].trim(),\n    address:          parseAddress(cells[3]),\n    description:      stripTags(cells[4]).trim(),\n    status:           stripTags(cells[5]).trim(),\n    application_date: parseDate(cells[1]),\n    decision_date:    cells[6] ? parseDate(cells[6]) : null\n  });\n}\n\nreturn [{ json: { council_slug: $('Fetch Areas & Build Council List').first().json.council_slug, applications: applications, scraped_count: applications.length } }];"
      },
      "id": "parse-servlet",
      "name": "Parse: Servlet HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -150
      ],
      "notes": "Positional column parser for servlet-based Idox portals (Staffordshire Moorlands, Haringey, etc)."
    },
    {
      "parameters": {
        "jsCode": "const html    = $input.first().json.data;\nconst context = $input.first().json;\n\nif (!html || typeof html !== 'string') {\n  return [{ json: { applications: [], council_slug: context.council_slug, parse_error: 'No HTML received' } }];\n}\n\nconst applications = [];\nconst rowRegex = /<tr[^>]+class=[\"'](?:odd|even)[\"'][^>]*>([\\s\\S]*?)<\\/tr>/gi;\nlet rowMatch;\n\nwhile ((rowMatch = rowRegex.exec(html)) !== null) {\n  const row = rowMatch[1];\n  const refMatch = /<td[^>]*class=[\"'][^\"']*number[^\"']*[\"'][^>]*>[\\s\\S]*?<a[^>]*href=[\"']([^\"']*)[\"'][^>]*>\\s*([^<]+)\\s*<\\/a>/i.exec(row);\n  if (!refMatch) continue;\n  const addrMatch   = /<td[^>]*class=[\"'][^\"']*address[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/td>/i.exec(row);\n  const address     = addrMatch ? addrMatch[1].replace(/<[^>]+>/g, '').trim() : null;\n  const descMatch   = /<td[^>]*class=[\"'][^\"']*description[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/td>/i.exec(row);\n  const description = descMatch ? descMatch[1].replace(/<[^>]+>/g, '').trim() : null;\n  const statusMatch = /<td[^>]*class=[\"'][^\"']*status[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/td>/i.exec(row);\n  const status      = statusMatch ? statusMatch[1].replace(/<[^>]+>/g, '').trim() : null;\n  const dateMatch   = /<td[^>]*class=[\"'][^\"']*date[^\"']*[\"'][^>]*>([\\s\\S]*?)<\\/td>/i.exec(row);\n  let application_date = null;\n  if (dateMatch) {\n    const raw   = dateMatch[1].replace(/<[^>]+>/g, '').trim();\n    const parts = raw.match(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\n    if (parts) application_date = parts[3] + '-' + parts[2] + '-' + parts[1];\n  }\n  applications.push({\n    reference:        refMatch[2].trim(),\n    address:          address,\n    description:      description,\n    status:           status,\n    application_date: application_date,\n    decision_date:    null\n  });\n}\n\nreturn [{ json: { council_slug: context.council_slug, applications: applications, scraped_count: applications.length } }];"
      },
      "id": "parse-searchdo",
      "name": "Parse: Search.do HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        150
      ],
      "notes": "CSS-class parser for modern Idox search.do portals (Westminster, Camden, etc)."
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nif (!item.applications || item.applications.length === 0) {\n  return [];\n}\nreturn [{\n  json: {\n    council_slug: item.council_slug,\n    applications: item.applications\n  }\n}];"
      },
      "id": "skip-empty",
      "name": "Skip If No Applications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "notes": "Drops councils with 0 applications."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://planningping.vercel.app/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "6YwgzeQffrqcltquhA9hMCtdrbQmjj8uTLmtncD8SjU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ council_slug: $json.council_slug, applications: $json.applications }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-to-webhook",
      "name": "Send to PlanningPing Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "notes": "POSTs scraped applications to the Next.js webhook. The webhook deduplicates via state_hash before writing to Supabase."
    }
  ],
  "connections": {
    "Every Monday 6am": {
      "main": [
        [
          {
            "node": "Fetch Areas & Build Council List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Areas & Build Council List": {
      "main": [
        [
          {
            "node": "Servlet Portal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Servlet Portal?": {
      "main": [
        [
          {
            "node": "Scrape: POST Servlet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape: POST Search.do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape: POST Servlet": {
      "main": [
        [
          {
            "node": "Parse: Servlet HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape: POST Search.do": {
      "main": [
        [
          {
            "node": "Parse: Search.do HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Servlet HTML": {
      "main": [
        [
          {
            "node": "Skip If No Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse: Search.do HTML": {
      "main": [
        [
          {
            "node": "Skip If No Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If No Applications": {
      "main": [
        [
          {
            "node": "Send to PlanningPing Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}